<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title><%= data[:page_title] %></title>

	<!-- Twitter summary card metadata -->
	<meta property="twitter:card" content="summary" />
	<meta property="twitter:title" content="<%= data[:twitter][:title] || data[:title] %>" />
	<meta property="twitter:site" content="<%= data[:twitter][:site] || data[:site] %>" />
	<meta property="twitter:description" content="<%= data[:twitter][:description] || data[:description] %>" />
	<meta property="twitter:image" content="<%= data[:twitter][:image] || data[:image] %>" />
	<meta property="twitter:url" content="<%= data[:twitter][:url] || data[:url] %>" />

	<!-- Facebook, Pinterest, Google Plus and others make use of open graph metadata -->
	<meta property="og:title" content="<%= data[:facebook][:title] || data[:title] %>" />
	<meta property="og:description" content="<%= data[:facebook][:description] || data[:description] %>" />
	<meta property="og:image" content="<%= data[:facebook][:image] || data[:image] %>" />
	<meta property="og:site_name" content="<%= data[:facebook][:site_name] || data[:site_name] %>" />

	<% # facebook will try to reach(redirect) to url above, take care %>
	<% if data[:facebook][:url] %>
		<meta property="og:url" content="<%= data[:facebook][:url] %>" />
	<% end %>
	<meta property="og:type" content="article" />
</head>
<body>
	<% if data[:image] %>
		<figure style='padding:0;margin:0;'>
			<img src="<%= data[:image] %>" />
		</figure>
	<% end %>
	<p><%= data[:description] %></p>
</body>
</html>
