<table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
	<tr>
		<td class="introContent">Olá, <%= @user.name %> <br />Tudo bem?</td>
	</tr>
	<tr>
		<% confirm_url = "#{Moovup::Config.social_share_site_url}/confirmar-conta/#{@user.activation_token}" %>

		<td>Você solicitou um novo link para confirmar o seu cadastro, por favor, utilize o link abaixo: <br />

		<%= link_to "Ativar minha conta!", confirm_url %><br /><br />

		Caso você não consiga acessar o link acima, utilize a URL abaixo: <br />

		<p><%= confirm_url %></p><br /><br />
		</td>
	</tr>
</table>
