<table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
  <tr><td class="introTitle">Olá, <%= @user.fullname %>,</td></tr>
  <tr>
    <td class="introContent">Sua senha de acesso ao Moovup foi atualizada com sucesso.<br /><br />
    </td>
  </tr>
</table>
