<table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
	<tr><td class="introTitle">Olá, <%= @user.name %>,</td></tr>
	<tr>
		<td class="introContent">Você solicitou um link para alterar sua senha de acesso ao Moovup.<br /><br />

		<% reset_url = "#{Moovup::Config.social_share_site_url}/resetar-senha/#{@user.reset_password_token}" %>

		<%= link_to "Cadastrar nova senha", reset_url%><br /><br />

		Caso você não consiga acessar o link acima, utilize a URL abaixo: <br />
		<p><%= reset_url %></p><br /><br />
		</td>
	</tr>
</table>
