<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MOOVUP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<body style="margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #f6f6f6;">

    <tr>
        <td align="" bgcolor="#e4e4e4" style="padding: 20px 0 20px 20px;">
            <img src="https://s3-sa-east-1.amazonaws.com/moovupfiles/images/moovup-logo.png" alt="MOOVUP" />
        </td>
    </tr>

    <tr>
        <td bgcolor="#ffffff" style="padding: 10px 30px 40px 30px;">
            <%= yield %>
        </td>
    </tr>
    <tr>
        <td align="right" bgcolor="#252830" style="color: #fff; font-family: sans-serif; font-size: 16px;  padding: 10px 10px 30px 10px;" >
            <a href="http://moovup.com.br" align="left" bgcolor="" style="color: #fff; font-family: Hind Siliguri, sans-serif; font-size: 16px; text-decoration: none;" >
                <img src="https://s3-sa-east-1.amazonaws.com/moovupfiles/images/redes-sociais.png" alt="MOOVUP" usemap="#imageMap"/>
                 <map name="imageMap" id="imageMap">
                         <area alt="Download App" title="Download Moovup para Android" href="https://play.google.com/store/apps/details?id=com.doisdoissete.moovup" shape="rect" coords="110,0,144,32" />
                 </map>

            </a><br />
            <a href="http://moovup.com.br" align="right" bgcolor="" style="color: #fff; font-family: sans-serif; font-size: 12px; text-decoration: none;" >
                www.moovup.com.br
            </a>
        </td>
    </tr>
</table>
</body>
